.color-custom {
  background-color: #FFEDED; 
}

  .color2-custom{
    background-color: #AFD5D3;
    padding-top: 10vh; 
    padding-bottom: 10vh; 
    padding-left: 10vw; 
    padding-right: 10vw; 
  }

.ml-custom{
  color: #FF8D8D;   
}

  .ml-custom2{
    background-color: #FF8D8D;
  }

.padding-custom{
  padding-top: 7vh; 
  padding-bottom: 7vh; 
  padding-left: 10vw; 
  padding-right: 10vw; 
  height: 69.7vh; 
}

.login-container {
  height: 100%;
}

.login-box {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}